md-whiteframe.md-whiteframe-z1.sub-form(flex)
  md-toolbar.md-accent
    .md-toolbar-tools
      span.md-flex Mailing List

  //md-progress-linear.md-warn(md-mode="indeterminate")
  form(name="subFormCtrl.subForm")
    div(layout layout-sm="column" layout-md="column")


      md-input-container(flex)
        label First Name
        input(ng-model="subFormCtrl.firstName" 
              required 
              name="firstName"
              placeholder="First Name")

        div(ng-messages="subFormCtrl.subForm.firstName.$error"
            ng-if="subFormCtrl.subForm.firstName.$touched")
          div(ng-message="email") must be valid
          div(ng-message="required") is required



      md-input-container(flex)
        label Last Name
        input(ng-model="subFormCtrl.lastName" 
              required
              name="lastName"
              placeholder="Last Name")

        div(ng-messages="subFormCtrl.subForm.lastName.$error"
            ng-if="subFormCtrl.subForm.lastName.$touched")
          div(ng-message="email") must be valid
          div(ng-message="required") is required



      md-input-container(flex)
        label Email
        input(type="email"
              required
              name="email"
              ng-model="subFormCtrl.email"
              placeholder="Email")

        div(ng-messages="subFormCtrl.subForm.email.$error"
            ng-if="subFormCtrl.subForm.email.$touched")
          div(ng-message="email") must be valid
          div(ng-message="required") is required


    md-button.md-fab.md-primary(aria-label="Subscribe" ng-disabled="subFormCtrl.submitted")
      md-tooltip Submit
      i.fa.fa-check
